version: 2

updates:
  - package-ecosystem: 'github-actions'
    target-branch: 'main'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    versioning-strategy: increase
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
    groups:
      npm-updates:
        update-types: [minor, patch]

  - package-ecosystem: 'cargo'
    directory: '/src-tauri'
    schedule:
      interval: 'monthly'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
    groups:
      rust-updates:
        update-types: [minor, patch]
