ENV="development"
DB_URL=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY="30"
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY="7"
BACKEND_URL="http://127.0.0.1:3000"
FRONTEND_URL="http://127.0.0.1:5173"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
VERIFICATION_TOKEN_EXPIRY="30"
VALKEY_URL=""
R2_ACCOUNT_ID=""
R2_ACCESS_ID=""
R2_SECRETE_ACCESS_KEY=""
R2_PUBLIC_ENDPOINT=""
BUCKET_NAME=""
GEMINI_API_KEY=""
POLAR_API_KEY=""
POLAR_WEBHOOK_SECRET=""
POLAR_AI_CREDITS=""
POLAR_MONTLY_SUB=""
POLAR_YEARLY_SUB=""
POLAR_SERVER=""
POLAR_SUCCESS_URL=""
SENTRY_DSN=""
DESKTOP_APP_IDENTIFIER=""
CROSS_ORIGIN=""
COOKIE_DOMAIN=""