@import "tailwindcss";
@import "@nota/ui/shadcn/css";
@source "../../../packages/ui/src/**/*.{html,js,svelte,ts}";

*[data-tauri-drag-region] {
  app-region: drag;
  -webkit-app-region: drag;
}

*[data-tauri-drag-region] button,
*[data-tauri-drag-region] input,
*[data-tauri-drag-region] a,
*[data-tauri-drag-region] [role="button"],
*[data-tauri-drag-region] select,
.no-drag {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}
