@import "tailwindcss";
@import "@nota/ui/shadcn/css";
@source "../../../packages/ui/src/**/*.{html,js,svelte,ts}";

html,
body {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
}

*[data-tauri-drag-region] {
  app-region: drag;
  -webkit-app-region: drag;
}

*[data-tauri-drag-region] button,
*[data-tauri-drag-region] input,
*[data-tauri-drag-region] a,
*[data-tauri-drag-region] [role="button"],
*[data-tauri-drag-region] select,
.no-drag {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}
